<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <!-- Plugin de controle diferencial -->
        <plugin name="gz::sim::systems::DiffDrive" filename="gz-sim-diff-drive-system">

            <!-- Juntas das rodas (devem corresponder ao robot_core.xacro) -->
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
            <wheel_separation>0.35</wheel_separation>
            <wheel_radius>0.05</wheel_radius>

            <!-- Limites -->
            <max_wheel_torque>200</max_wheel_torque>
            <max_linear_acceleration>2.0</max_linear_acceleration>

            <!-- Tópico de entrada (comandos de velocidade) -->
            <topic>cmd_vel</topic>

            <!-- Tópicos de saída (odometria) -->
            <odom_topic>odom</odom_topic>
            <frame_id>odom</frame_id>
            <child_frame_id>base_footprint</child_frame_id>
            <odom_publisher_frequency>30</odom_publisher_frequency>
            <publish_odom_tf>true</publish_odom_tf>
            <tf_topic>/tf</tf_topic>

        </plugin>

        <!-- Plugin de publicação dos estados das juntas -->
        <plugin filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher">
            <topic>joint_states</topic>
            <joint_name>left_wheel_joint</joint_name>
            <joint_name>right_wheel_joint</joint_name>
        </plugin>
    </gazebo>

</robot>